.main_auth {
  background: url("../../media/img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
/* bouton inscription et connexion */
.btnconnexion {
  background-color: #406b41;
}
.tablinks {
  padding: 20px;
  width: 405px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  border: none;
  background: #d4d4d4;
}

.tablinks:hover {
  background: #406b41;
}

.tabcontent {
  width: 800px;
  margin-left: 3px;
}
/* ensemble des formulaire */
.form-with-tabs {
  display: flex;
  justify-content: center;
}
/* Style du formulaire */
.form-with-tabs form {
  position: relative;
  background-color: #f0f0f0;
  width: 100%;
  margin-bottom: 100px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 50px 0px 80px 80px !important;
  box-sizing: border-box;
  margin-left: 0px;
}

.mesinputs {
  display: flex;
  justify-content: space-evenly;
}

/* Style des conteneurs de champs */
.form-groupe {
  margin-bottom: 10px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  margin-left: 0;
  width: 100%;
}
.item-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.item-form-prenom {
  display: flex;
  flex-direction: column;
  width: 47%;
}
.btn_send {
  display: block;
  margin: 20px auto 0 auto;
  background: #406b41;
  padding: 20px 50px;
  border-radius: 30px;
  font-size: 20px;
  color: #fff;
  border: none;
}

form button:hover {
  background-color: rgb(170, 50, 118);
}
/* form button {
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  background-color: green;
} */

.Dejamembre {
  border-style: none;
  background: none;
}
.inputs {
  width: 90%;
  border-style: none;
  border-radius: 15px;
  height: 50px;
}

/* .main_auth {
  background: url("../../media/img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form_auth {
  background-color: white;
  width: 876px;
  height: 555px;
  border-radius: 22px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.tab {
  width: 100%;
}
.tab button {
  width: 50%;
  color: #508c47;
  font-family: "Baloo Chettan 2", cursive;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  background: white;
  border: none;
  box-shadow: 1px 2px 3px 0px #80808080;
}

.tab button:hover , .tab:active {
  background: #416d52;
  color: white;
}
.tablinks {
  width: 50%;
} */
