
.containertab {
    margin: 100px 100px  0px 100px;
    font-family: arial, sans-serif;
    border-collapse: collapse; 
  }
  
  td,th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }